<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Sponsorship</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<style>
  :root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
  }
</style>
<ion-content padding fullscreen>
  <form #form="ngForm" (ngSubmit)="save(form)" method="post">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label>Sponsorship</ion-label>
        <ion-select
          required
          [(ngModel)]="sponsorSel"
          [selectedText]="sponsorSel"
          (ionChange)="getSponsor($event)"
          name="sponsor"
        >
          <ion-select-option value="Self-sponsored">
            Self-sponsored
          </ion-select-option>
          <ion-select-option value="Parents">
            Parents
          </ion-select-option>
          <ion-select-option value="Other relatives">
            Other relatives
          </ion-select-option>
          <ion-select-option value="Employer">
            Employer
          </ion-select-option>
          <ion-select-option value="Scholarship">
            Scholarship
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked"
          >Sponsor's Name <ion-text color="danger">*</ion-text></ion-label
        >
        <ion-input
          [(ngModel)]="sponsorName"
          name="sponsorName"
          type="text"
          placeholder="Sponsor's Name"
          required
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked"
          >Sponsor's Occupation <ion-text color="danger">*</ion-text></ion-label
        >
        <ion-input
          [(ngModel)]="sponsorOccupation"
          name="sponsorOccupation"
          type="text"
          placeholder="Sponsor's Occupation"
          required
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked"
          >Budget <ion-text color="danger">*</ion-text></ion-label
        >
        <ion-input
          [(ngModel)]="budget"
          name="budget"
          type="number"
          placeholder="Budget"
          required
        ></ion-input>
      </ion-item>
    </ion-list>
    <ion-card
      color="primary"
      (click)="showModal()"
      class="ion-padding"
      *ngIf="data"
    >
      <ion-card-header class="ion-text-center">
        <ion-card-subtitle>{{ data.name }}</ion-card-subtitle>
        <ion-card-title>{{ data.Institution.name }}</ion-card-title>
      </ion-card-header>
      <div class="ion-text-center">
        (Tap to change course)
      </div>
    </ion-card>
    <ion-toolbar>
      <div class="ion-padding">
        <ion-button
          expand="block"
          [disabled]="form.invalid"
          type="submit"
          class="ion-no-margin"
          >Save & Continue <ion-icon name="save"></ion-icon
        ></ion-button>
      </div>
    </ion-toolbar>
  </form>
</ion-content>
