<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Final Submission</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div padding text-center>
    <img src="assets/final.png" alt="Logo" title="Logo" />
  </div>
  <ion-card>
    <ion-card-header text-center>
      <ion-card-title>Final Submission</ion-card-title>
      <ion-card-subtitle
        >Note that you will not be able to alter your application after
        submission.</ion-card-subtitle
      >
    </ion-card-header>
  </ion-card>
</ion-content>
<ion-footer>
  <div class="ion-padding">
    <ion-button
      expand="block"
      (click)="final()"
      type="button"
      class="ion-no-margin"
      >Submit <ion-icon name="save"></ion-icon>
    </ion-button>
  </div>
</ion-footer>
