<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{message.subject}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <ion-card-header>
      <!-- <ion-card-subtitle>sent by {{message.senderName}}</ion-card-subtitle> -->
      <ion-card-title>{{message.subject}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{message.message}}
    </ion-card-content>
  </ion-card>
</ion-content>
