<ion-split-pane>
  <ion-menu contentId="content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <div class="head">
        <ion-row style="align-items:center;">
          <ion-col col-3> </ion-col>
          <ion-col col-6>
            <ion-avatar routerLink="/pages/photo" routerDirection="forward">
              <img src="{{photoUrl}}" />
            </ion-avatar>
          </ion-col>
          <ion-col col-3>
            <img src="" />
          </ion-col>
        </ion-row>
        <ion-row style="justify-content: center;">
          <h3>{{ username }}</h3>
        </ion-row>
      </div>
      <ion-list>
        <ion-menu-toggle auto-hide="false">
          <ion-item routerLink="/pages/dashboard" routerDirection="forward">
            <ion-icon slot="start" name="home"></ion-icon>
            <ion-label>
              Home
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle *ngIf="!roleId" auto-hide="false">
          <ion-item routerLink="/pages/compose" routerDirection="forward">
            <ion-icon slot="start" name="create"></ion-icon>
            <ion-label>
              Compose
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item routerLink="/pages/message-sent" routerDirection="forward">
            <ion-icon slot="start" name="arrow-round-forward"></ion-icon>
            <ion-label>
              Sent Messages
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item routerLink="/pages/help" routerDirection="forward">
            <ion-icon slot="start" name="help"></ion-icon>
            <ion-label>
              Help
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item routerLink="/pages/checklist" routerDirection="forward">
            <ion-icon slot="start" name="done-all"></ion-icon>
            <ion-label>
              Checklist
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item (click)="openBrowser()">
            <ion-icon slot="start" name="globe"></ion-icon>
            <ion-label>
              Connect to Website
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item (click)="logout()">
            <ion-icon slot="start" name="log-out"></ion-icon>
            <ion-label>
              Logout
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="content" main></ion-router-outlet>
</ion-split-pane>
