.active-item {
  border-left: 8px solid var(--ion-color-primary);
}
#menu-avatar {
  .icon-badge {
    top: 0px;
    right: 0px;
    background: #ff5d5d;
    color: white;
    font-size: 12px;
    position: absolute;
    padding: 5px 8px;
    border-radius: 15px;
  }

  .user-avatar {
    padding: 0.5em;
  }
  h3,
  .label {
    color: white;
    font-weight: bold;
  }
  .item {
    background: transparent;
  }
  ion-content {
    background: linear-gradient(
      48deg,
      rgba(157, 72, 173, 0.8) 0%,
      rgba(157, 72, 173, 0.86) 28%,
      rgba(0, 168, 168, 0.98) 93%,
      rgba(0, 168, 168, 1) 100%
    );
  }
  .menu-inner {
    background: rgba(255, 255, 255, 0.3);
  }
}
.head {
  --background: #3880ff;
  --color: #3880ff;
}
