<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>File Upload</ion-title>
  </ion-toolbar>
</ion-header>
<style>
  :root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
  }
</style>
<ion-content padding fullscreen>
  <form #form="ngForm" method="post">
    <div text-center>
      <img
        style="width: 200px; height: 200px;"
        src="assets/upload.gif"
        alt="Logo"
        title="Logo"
      />
    </div>
    <div class="ion-text-center">
      <h5>Upload a merged required PDF document.</h5>
    </div>

    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <div class="ion-padding">
        <ion-button (click)="pickFile()" expand="full" color="dark"
          >Browse <ion-icon></ion-icon
        ></ion-button>
      </div>
      <div *ngIf="isPdf">
        <div (click)="viewPdf()" text-center>
          <img src="assets/icon/pdf.png" alt="Logo" title="Logo" />
        </div>
        <ion-button (click)="upload()" expand="full" color="primary"
          >Upload <ion-icon></ion-icon
        ></ion-button>
      </div>
    </ion-list>
    
  </form>
</ion-content>
