<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Personal Information</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<style>
  :root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
  }
</style>
<ion-content padding fullscreen>
  <form #form="ngForm" (ngSubmit)="saveForm1(form)" method="post">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked"
          >First Name <ion-text color="danger">*</ion-text></ion-label
        >
        <ion-input
          [(ngModel)]="selectedFn"
          name="firstname"
          type="text"
          placeholder="First Name"
          ngModel
          required
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Middle Name </ion-label>
        <ion-input
          [(ngModel)]="selectedMn"
          name="middlename"
          type="text"
          placeholder="Middle Name"
          ngModel
        ></ion-input>
      </ion-item>

      <ion-input [(ngModel)]="id" type="hidden" name="id" ngModel></ion-input>

      <ion-item>
        <ion-label position="stacked"
          >Last Name <ion-text color="danger">*</ion-text></ion-label
        >
        <ion-input
          [(ngModel)]="selectedLn"
          name="lastname"
          type="text"
          placeholder="Last Name"
          ngModel
          required
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Nationality <ion-text color="danger">*</ion-text></ion-label>
        <ion-select
          [(ngModel)]="selected"
          [selectedText]="selected"
          (ionChange)="getCountry($event)"
          name="countryId"
          required
        >
          <ion-select-option
            *ngFor="let item of country"
            value="{{ item.name }}"
            >{{ item.name }}</ion-select-option
          >
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label
          >Date of Birth <ion-text color="danger">*</ion-text></ion-label
        >
        <ion-datetime
          [ngModel]="selectedDOB"
          (ionChange)="getDOB($event)"
          name="dob"
          value="1990-02-19"
          placeholder="Select Date"
          required
        ></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Gender <ion-text color="danger">*</ion-text></ion-label>
        <ion-select
          [(ngModel)]="selectedGender"
          (ionChange)="getGender($event)"
          name="gender"
          required
        >
          <ion-select-option value="Male">
            Male
          </ion-select-option>
          <ion-select-option value="Female">
            Female
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label
          >Marital Status <ion-text color="danger">*</ion-text></ion-label
        >
        <ion-select
          [(ngModel)]="selectedMarital"
          (ionChange)="getMarital($event)"
          name="marital"
          required
        >
          <ion-select-option value="Married">
            Married
          </ion-select-option>
          <ion-select-option value="Single">
            Single
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-card
      color="primary"
      (click)="showModal()"
      class="ion-padding"
      *ngIf="data"
    >
      <ion-card-header class="ion-text-center">
        <ion-card-subtitle>{{ data.name }}</ion-card-subtitle>
        <ion-card-title>{{ data.Institution.name }}</ion-card-title>
      </ion-card-header>
      <div class="ion-text-center">
        (Tap to change course)
      </div>
    </ion-card>

    <ion-toolbar>
      <div class="ion-padding">
        <ion-button
          expand="block"
          [disabled]="form.invalid"
          type="submit"
          class="ion-no-margin"
          >Save & Continue <ion-icon name="save"></ion-icon
        ></ion-button>
      </div>
    </ion-toolbar>
  </form>
</ion-content>
