<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Universities & Faculties</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <ion-list>
    <ion-list-header> </ion-list-header>

    <ion-item-group *ngFor="let item of results">
      <ion-item-divider>
        <ion-label
          ><h1 class="ion-text-capitalize">{{ item.uni.name }}</h1></ion-label
        >
      </ion-item-divider>

      <ion-item
        routerLink="/pages/course/{{ fac.fac.id }}/{{ item.uni.id }}"
        routerDirection="forward"
        *ngFor="let fac of item.faculty"
      >
        <ion-label
          ><h5>
            {{ fac.fac.name }}
          </h5></ion-label
        >
        <ion-badge color="primary" slot="end">{{ fac.num }}</ion-badge>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
