<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Change Password</ion-title>
    <ion-buttons slot="start"><ion-menu-button></ion-menu-button></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #form="ngForm" (ngSubmit)="save(form)" method="post">
    <ion-card>
      <ion-card-content>
        The password must consist of at least 1 uppercase character, 1 lowercase
        character and no special characters, and be between 6 and 40 characters.
      </ion-card-content>
    </ion-card>
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-input
          [(ngModel)]="oldPassword"
          name="oldPassword"
          type="password"
          placeholder="Old Password"
          required
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          [(ngModel)]="newPassword"
          name="newPassword"
          type="password"
          placeholder="New Password"
          required
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          [(ngModel)]="confirmNewPassword"
          name="confirmNewPassword"
          type="password"
          placeholder="Confirm New Password"
          required
        ></ion-input>
      </ion-item>
    </ion-list>
    <ion-toolbar>
      <div class="ion-padding">
        <ion-button
          expand="block"
          [disabled]="form.invalid"
          type="submit"
          class="ion-no-margin"
          >Change Password</ion-button
        >
      </div>
    </ion-toolbar>
  </form>
</ion-content>
