<ion-header>
  <ion-toolbar color="primary">
    <ion-title>CheckList</ion-title>
    <ion-buttons slot="start"><ion-menu-button></ion-menu-button></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <ion-card-content>
      This is to help you know the stages you need to undergo before you enrol
      at your selected university to begin your study journey.
    </ion-card-content>
    <ion-card-header>
      <ion-card-title>Admission Stage</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Admission stage includes checking student’s eligibility to be sure they
      are qualified for the proposed courses they are interested in. After the
      eligibility check, students are to provide the requirements stated in the
      course and application will then be processed for offer of admission.
    </ion-card-content>

    <ion-card-header>
      <ion-card-title>Visa Stage</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Visa is a stage where students have been issued an unconditional offer
      letter or Confirmation of Acceptance of Studies (CAS) and they are ready
      to apply for visa or waiting visa decision.
    </ion-card-content>

    <ion-card-header>
      <ion-card-title>Pre-departure Stage</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Pre-departure is a stage where a student has been issued a study visa and
      they are preparing to depart from their country of residence to their
      study destination. Scot-Study organises pre-departure event and Union
      every enrolment window for students networking, short lecture on
      immigration regulations, how to apply for professional jobs prior to the
      end of their studies.
    </ion-card-content>

    <ion-card-header>
      <ion-card-title>Enrolment Stage</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Enrolment is the final stage where students arrive at their selected
      institutions to enrol for their studies and begin classes.
    </ion-card-content>
  </ion-card>
</ion-content>
